{% extends "base.html.twig" %}

{% block body %}
    <div class="row user-profile">
        <div class="col-md-offset-1 col-md-4 user-info">
            {% include "@FOSUser/Profile/show_content.html.twig" %}
        </div>
        <div class="col-md-offset-1 col-md-2 circle yellow">
            <span class="glyphicon glyphicon-book"></span>

        </div>
        <div class="col-md-offset-1 col-md-2 circle green">
            <span class="glyphicon glyphicon-comment"></span>
        </div>
        <div class="col-md-offset-1 col-md-2 circle blue">
            <span class="glyphicon glyphicon-flag"></span>
        </div>
    </div>
    <div class="row user-courses-list">
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
            <div class="thumbnail">
                <img src="/images/course_logo/camera-keys.jpg">
                <div class="caption">
                    <h2><a href="">Photography</a></h2>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
            <div class="thumbnail">
                <img src="/images/course_logo/math-1.jpg">
                <div class="caption">
                    <h2><a href="">Math - 1st grade</a></h2>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
