/web/bundles/
/web/images/company_logo/*
/web/images/course_logo/*
/web/files/materials/*
!/web/images/company_logo/default.jpg
!/web/images/course_logo/default.jpg
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/.idea/
