{% extends "base.html.twig" %}

{% block title %}Sign Up{% endblock %}

{% block body %}
    <div class="login-form row">
        <div class="col-md-offset-4 col-md-3  form">
            <span>Welcome</span>
            <br>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <h3>SIGN UP</h3>
            {% include "FOSUserBundle:Registration:register_content.html.twig" %}
            <div class="row">
                Already registered? <a href="{{ path('fos_user_security_login') }}">Log in now!</a>
            </div>

        </div>
    </div>
{% endblock body %}
