{% extends 'base.html.twig' %}

{% block body %}
    <h1>Your courses</h1>
    <div class="row user-courses-list">
        {% for course in courses %}
            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                <div class="thumbnail">
                    <img src="/images/course_logo/{{ course.course.img }}">
                    <div class="caption">
                        <h2>{{ course.course.title }}</h2>
                        <a class="btn btn-default" href="{{ path("course_for_student", {id: course.course.id}) }}">Continue learning</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}