input {
    color: #3f4e5e;
}

/*----------- Navbar menu -----------*/
/* background of nav menu */
.navbar-default {
    background: #272525;
    border: none;
    border-radius: 0;
    color: #fff;
    padding: 0 20px;
    z-index: 9999;
}

/* brand text */
.navbar-default .navbar-brand {
    color: #fff;
    text-shadow: 1px 1px 1px #fff;
    font-style: italic;
    font-size: 1.8em;
    font-family: Arial;
}

.navbar-nav li {
    background: #272525;
    border-left: 1px solid #373434;
    border-right: 1px solid #373434;
}

.navbar-nav li:hover {
    background: #000;
}

/* items from menu */
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 1.3em;
    text-shadow: 1px 1px 0 #CCA4F4;
}
/* items with focus */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #CCA4F4;
    text-shadow: 1px 1px 0 #bce8f1;
}

/* CSS styles for mobiles */

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu li {
        background: #41ABFB;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
        background-color: #41ABFB;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: #41ABFB;
    }
}

/* ---------- end of Navbar menu -------------*/

#footer {
    background:#272525;
    padding: 15px;
    position: relative;
}

    #footer ul li a {
        color: #fff;
        text-decoration: underline;
    }

    #footer .copyright {
        color: #7c8ea3;
        position: absolute;
        top: 80%;
        left: 40%;
    }

    #footer span {
        color: #fff;
        float: right;
        font-size: 1.8em;
        font-style: italic;;
        margin-top: 30px;
    }

.main-img {
    position: relative;
}

    .main-img img {
        border-bottom: 3px solid #272525;
        margin-top: -50px;
        width: 100%;

    }

.main-button {
    box-shadow: 3px 3px 5px #fff;
    position: absolute;
    text-shadow: 1px 2px 2px #000;
    top: 50%;
    left: 45%;
}

    .main-button a {
        padding: 10px;
        width: 150px;
    }

.main-categories {
    padding-top: 50px;
}

.row {
    margin: 0 !important;
}

.thumbnail {
    min-height: 465px;
}

.form {
    background-color: #FBEFEF;
    border: 7px solid rgba(255,255,255,.5);
    border-radius: 10px;
    margin-top: 50px;
    padding: 20px;
}

    .form form {
        border-top: 2px solid #766B6B;
        padding: 10px;
        margin: 10px auto;
    }

    .form input[type=text], .form input[type=password], .form input[type=email] {
        background: #fff;
        border-radius: 8px;
        display: block;
        height: 50px;
        margin-bottom: 17px;
        width: 100%;
    }

    .form input[type=submit] {
        background-color: #766B6B;
        border-radius: 5px;
        float: right;
        font-size: 1.3em;
        width: 120px;
        padding: 10px;
        text-transform: uppercase;
    }

/*---------login-------*/

.login-form {
    padding: 20px;
    text-align: center;
}

.login-form span {
    text-transform: uppercase;
    color: #BFBABA;
    font-size: 1.8em;
    font-weight: bold;
}


/*--------- end of login -----*/

.reg-as .thumbnail a {
    display: block;
}

.title {
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

.line {
    border-bottom: 1px solid #DDDCD9;
    margin: 0 100px;
}

.company-list {
    background-color: #F4F1EC;
    margin: 20px 50px;
    padding: 50px;
}

    .company-list p {
        color: #000;
        font-size: 1.2em;
        margin: 10px;
    }

    .company-list a.site {
        text-decoration: underline;
        text-transform: none;
        font-style: italic;
        color: #000000;
    }

    .company-list h1 {
        background-color: #4E4646;
        border-radius: 5px;
        padding: 5px;
        margin: 10px;
        text-align: center;
    }

    .company-list a {
        color: #D7D0D0;
        text-transform: uppercase;
    }

    .company-list img {
        border: 5px solid #fff;
        box-shadow: 5px 5px 5px black, -5px -5px 5px black;
        max-width: 100%;
    }

    .company-list .course-count {
        color: #000;
        font-weight: bold;
    }

    .company-list .additional-info {
        padding: 15px 0;
    }