input {
    color: #3f4e5e;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 170px !important;
}

#footer {
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    padding-top: 50px;
}

/*----------- Navbar menu -----------*/
/* background of nav menu */
.navbar-default {
    background: #272525;
    border: none;
    border-radius: 0;
    color: #fff;
    padding: 0 20px;
    z-index: 9999;
}

/* brand text */
.navbar-default .navbar-brand {
    color: #fff;
    text-shadow: 1px 1px 1px #fff;
    font-style: italic;
    font-size: 1.8em;
    font-family: Arial;
}

.navbar-nav li {
    background: #272525;
    border-left: 1px solid #373434;
    border-right: 1px solid #373434;
}

.navbar-nav li:hover {
    background: #000;
}

/* items from menu */
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 1.3em;
    text-shadow: 1px 1px 0 #CCA4F4;
}
/* items with focus */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #CCA4F4;
    text-shadow: 1px 1px 0 #bce8f1;
}

/* CSS styles for mobiles */

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu li {
        background: #41ABFB;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
        background-color: #41ABFB;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: #41ABFB;
    }
}

/* ---------- end of Navbar menu -------------*/

#footer {
    background:#272525;
    padding: 15px;
    position: relative;
}

    #footer ul li a {
        color: #fff;
        text-decoration: underline;
    }

    #footer .copyright {
        color: #7c8ea3;
        position: absolute;
        top: 80%;
        left: 40%;
    }

    #footer span {
        color: #fff;
        float: right;
        font-size: 1.8em;
        font-style: italic;;
        margin-top: 30px;
    }

.main-img {
    position: relative;
}

    .main-img img {
        border-bottom: 3px solid #272525;
        margin-top: -50px;
        width: 100%;

    }

.main-button {
    box-shadow: 3px 3px 5px #fff;
    position: absolute;
    text-shadow: 1px 2px 2px #000;
    top: 50%;
    left: 45%;
}

    .main-button a {
        padding: 10px;
        width: 150px;
    }

.main-categories {
    padding-top: 50px;
}

.row {
    margin: 0 !important;
}

.thumbnail {
    min-height: 465px;
}

.form {
    background-color: #FBEFEF;
    border: 7px solid rgba(255,255,255,.5);
    border-radius: 10px;
    margin-top: 50px;
    padding: 20px;
}

    .form form {
        border-top: 2px solid #766B6B;
        padding: 10px;
        margin: 10px auto;
    }

    .form input[type=text], .form input[type=password], .form input[type=email] {
        background: #fff;
        border-radius: 8px;
        display: block;
        height: 50px;
        margin-bottom: 17px;
        width: 100%;
    }

    .form input[type=submit] {
        background-color: #766B6B;
        border-radius: 5px;
        float: right;
        font-size: 1.3em;
        width: 120px;
        padding: 10px;
        text-transform: uppercase;
    }

/*---------login-------*/

.login-form {
    padding: 20px;
    text-align: center;
}

.login-form span {
    text-transform: uppercase;
    color: #BFBABA;
    font-size: 1.8em;
    font-weight: bold;
}


/*--------- end of login -----*/

.reg-as .thumbnail a {
    display: block;
}

.title {
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

.line {
    border-bottom: 1px solid #DDDCD9;
    margin: 0 100px;
}

.company-list {
    background-color: #F4F1EC;
    margin: 20px 50px;
    padding: 50px;
}

    .company-list p {
        color: #000;
        font-size: 1.2em;
        margin: 10px;
    }

    .company-list a.site {
        text-decoration: underline;
        text-transform: none;
        font-style: italic;
        color: #000000;
    }

    .company-list h1 {
        background-color: #4E4646;
        border-radius: 5px;
        padding: 5px;
        margin: 10px;
        text-align: center;
    }

    .company-list a {
        color: #D7D0D0;
        text-transform: uppercase;
    }

    .company-list img {
        border: 5px solid #fff;
        box-shadow: 5px 5px 5px black, -5px -5px 5px black;
        max-width: 100%;
    }

    .company-list .course-count {
        color: #000;
        font-weight: bold;
    }

    .company-list .additional-info {
        padding: 15px 0;
    }

.company-profile img {
    border: 5px solid #fff;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
    width: 100%;
}

.company-profile .title {
    font-size: 1.5em;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}

.company-profile .user-info, .company-profile .company-info {
    border: 5px double #000;
    padding: 15px;
}

    .company-profile .user-info span, .company-profile .company-info span {
        font-weight: bold;
    }

.company-profile .manage-info a {
    text-decoration: underline;
}

.company-profile .manage-info .badge {
    background-color: #232453;
}

.company-profile .manage-teachers {
    text-decoration: none !important;
    margin: 30px 0;
}

.user-profile .user-info {
    border: 5px double #000;
    padding: 15px;
}

.user-profile .user-info a {
    margin-top: 20px;
}

.user-profile .user-info img {
    width: 100%;
}

.user-profile .user-info p a {
    float: right;
    margin-top: 0;
    text-decoration: underline;
}

.user-profile .circle {
    box-shadow: 2px 2px 3px #000;
    border-radius: 50%;
    font-size: 2.7em;
    height: 100px;
    padding-top: 25px;
    text-align: center;
    width: 100px;
}

.yellow {
    background-color: #ffff00;
}

.blue {
    background-color: #2092BC;
}

.green {
    background-color: #3FBC20;
}

.user-courses-list {
    padding-top: 50px;
}

.user-courses-list .thumbnail {
    min-height: 150px;
}

.user-courses-list .thumbnail a {
    text-decoration: underline;
}

.teacher-info {
    background-color: #2092BC;
    padding: 10px;
}

.teacher-info .circle {
    color: #000;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px 3px #000;
    background-color: #fff;
    padding-top: 7px;
    padding-right: 10px;
    padding-left: 5px;
}

.teacher-courses {
    padding-top: 50px;
}

.teacher-courses .thumbnail {
    background: #bce8f1;
    min-height: 150px;
    padding: 10px;
}

.teacher-courses .thumbnail h2 {
    font-size: 1.4em;
}

.teacher-courses .thumbnail p {
    min-height: 40px;
}

.teacher-courses .bottom {
    padding: 10px 0;
}

.teacher-courses .bottom .btn {
    margin-top: 7px;
}

.teacher-courses .bottom span {
    background-color: #41ABFB;
    box-shadow: 2px 2px 2px #000;
    color: #000;
    padding: 14px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.teacher-courses .bottom span:hover {
    background-color: #ffff00;
}

.list h1 {
    margin: 20px auto;
}

.delete-action {
    display: inline-block;
}

h1 {
    text-align: center;
}

.crud-section {
    background: #F9F6F6;
    box-shadow: 12px 12px 13px #D5D3D3, -12px -12px 13px #D5D3D3;
    margin: -20px 0;
}

form .btn {
    margin: 5px;
}

.news-item {
    background: #F8F8F7;
    box-shadow: 3px 3px 5px #B5B5B5;
    min-height: 100px;
    margin: 30px 40px;
    padding: 20px;
}

.news-item .company {
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 0 1px #000;
}

.news-item .company a {
    font-size: 1.5em;
}

.date {
    font-style: italic;
    color: #3f4e5e;
    text-shadow: 1px 0 1px #3f4e5e;
}

.news .content {
    background-color: #F8F8F7;
    box-shadow: 5px 5px 10px #DFDEDD;
    padding: 20px;
}

.news h1 {
    margin-bottom: 50px;
}

.links {
    margin-top: 20px;
}

input[type=checkbox] {
    background-color: #fff;
}

.category-checker label {
    display: inline-block;
    margin-right: 10px;
    margin-left: 3px;
}

.vacancy {
    font-size: 1.5em;
}

.vacancy h4 {
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}

.category-tag {
    margin-top: 20px;
}

.category-tag span {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #EACFCD;
    border-radius: 10px;
}

.category-list {
    text-align: center;
    padding: 20px;
}

.category-list .selected {
    background-color: #C692E8;
    box-shadow: 2px 1px 3px #000;
}

.square {
    background-color: #C692E8;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000;
    height: 100px;
    width: 120px;
    font-size: 1.5em;
    margin: 10px;
    padding: 15px;
    text-align: center;
    transition: background-color 1s ease-out;
}

.square-menu-1 {
   background-color: #C692E8;
}

.square-menu-2 {
    background-color: #E8BB92;
}

.square-menu-3 {
    background-color: #92E8BE ;
}

    .square-menu-1:hover {
        background-color: #B640E7;
        box-shadow: 5px 5px 5px #000;

    }

    .square-menu-2:hover {
        background-color: #E7B940;
        box-shadow: 5px 5px 5px #000;
    }

    .square-menu-3:hover {
        background-color: #40E797;
        box-shadow: 5px 5px 5px #000;
    }

    .vacancy-item {
        background-color: #fff;
        color: #000;
        padding: 15px;
        margin: 3px 20px;
        text-align: center;
    }

    .vacancy-item a {
        color: #000;
    }

.mini-img {
    width: 300px;
    margin-top: -30px;
    float: right;
}

.mini-img img {
    width: 70px;
    border: 1px solid #000;
}

.img-in-table img {
    width: 100px;
    border: 1px solid #000;
}

.vacancy-item-course .thumbnail img {
    box-shadow: none;
}

.course-desc {
    font-size: 1.5em;
    font-style: italic;
    text-shadow: 1px 1px 1px #000;
    font-weight: bold;
}

.course-menu {
    font-size: 1.5em;
}

.course-menu .badge {
    font-size: 1em;
    padding: 5px 15px;
}