{% extends 'base.html.twig' %}

{% block body %}
    <div class="row crud-section">
        <h1>Test edit</h1>
        <a href="{{ path("course_edit", {id: test.course.id}) }}" class="btn">Back to list</a>
        <div class="col-md-offset-5 col-md-3 flow-creation">
            {{ form_start(edit_form) }}
            <div class="form-group">
                <label>Name</label>
                {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <input class="btn btn-info col-md-5" type="submit" value="Edit">
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
