{% extends 'base.html.twig' %}

{% block body %}
    <div class="row crud-section">
        <h1>Add Exam</h1>
        <div class="flow-creation">
            {{ form_start(form) }}
            <div class="form-group">
                <label>Name</label>
                {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                <label>* After exam creation you can add questions to it</label>
                {{ form_widget(form.questions) }}
            </div>
            <input class="btn btn-info col-md-1" type="submit" value="Create">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
