{% extends 'PortalBundle::layout.html.twig' %}

{% block body %}
     <div class="row main-img">
          <img src="/img/books.jpg" alt="">
          <div class="main-button">
               <a class="btn btn-success" href="{{ path('registration_cases') }}">Start now</a>
          </div>
     </div>
     <div class="row main-categories">
          <div>
               <div class="col-xs-6 col-sm-4 col-md-3 col-lg3">
                    <div class="thumbnail">
                         <img src="/img/companies.jpg">
                         <div class="caption">
                              <h2>Companies</h2>
                              <p>Companies around the world place their courses, give you best teachers and create new vacancies.</p>
                              <a href="{{ path('company_index') }}" class="btn btn-success">Learn more</a>
                         </div>
                    </div>
               </div>
               <div class="col-xs-6 col-sm-4 col-md-3 col-lg3">
                    <div class="thumbnail">
                         <img src="/img/course.jpg">
                         <div class="caption">
                              <h2>Courses</h2>
                              <p> You can find a lot of courses for studying. Just start searching.</p>
                              <a href="#" class="btn btn-success">Start now</a>
                         </div>
                    </div>
               </div>
               <div class="col-xs-6 col-sm-4 col-md-3 col-lg3">
                    <div class="thumbnail">
                         <img src="/img/vacancy.jpg">
                         <div class="caption">
                              <h2>Vacancies</h2>
                              <p>Are you looking for new job? Great, you have come to the right place! Start by looking at our vacant positions. Companies from different countries place their vacancies here. We have a lot of different roles and opportunities to offer.</p>
                              <a href="#" class="btn btn-success">Learn more</a>
                         </div>
                    </div>
               </div>
               <div class="col-xs-6 col-sm-4 col-md-3 col-lg3">
                    <div class="thumbnail">
                         <img src="/img/news.jpg">
                         <div class="caption">
                              <h2>News</h2>
                              <p> Do you want about last news on our site? See it now!</p>
                              <a href="#" class="btn btn-success">Learn more</a>
                         </div>
                    </div>
               </div>
          </div>
     </div>
{% endblock %}